<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Daniel Molnar" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Daniel Molnar aka soobrosa</a>
    <a class="extra" href="/about.html">about</a><br>
    my church: <a class="extra" href="/mychurch/albums.html">albums</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Daniel Molnar<br />
        soobrosa@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/soobrosa/">github.com/soobrosa</a><br />
        <a href="http://twitter.com/soobrosa/">twitter.com/soobrosa</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
