<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Personal blog of Berk Özbalcı, about computers, math and music">
      <meta name="author" content="Berk Özbalcı">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
      <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
      <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
      <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/atom.xml">
      <title>{{ page.title }}</title>
   </head>
   
   <body>
      <main>
         <header>
            <h1 class="title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
         </header>

         {{ content }}
      </main>
   </body>
</html>
