<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Max Studio" />
   <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Max Studio" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Max Studio</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Max Studio
        <br />
        Host by 
          <a href="https://github.com/">GitHub</a>
        <br />
        max@niuti.org
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/maxstudio/">github.com/maxstudio</a><br />
        <a href="http://weibo.com/heartisan">weibo.com/heartisan</a><br />
      </p>
    </div>
    <div class="rss">
      <!-- FEEDCAT.NET -->
      <span id="feedcat-div-511"></div>
      <script type="text/javascript" src="http://icon.feedcat.net/booster/maxstudio/LIVE-FEED-ADDRESS/?bid=511&ilng=profi&cap="></script>
      <!-- FEEDCAT.NET -->
    </div>
  </div>
</div>

<!-- Analytics -->

<!-- Analytics end -->

</body>
</html>
