---
layout: default
---
<div id="post">
{{ content }}
</div>

<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{page.previous.url}}" data-url="{{ page.title }}"></div>
<!-- 多说评论框 end -->

<!-- 多说热评文章 start -->
<div class="ds-top-threads" data-range="monthly" data-num-items="8"></div>
<!-- 多说热评文章 end -->

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>